body
{
    background-color: papayawhip
}

.center {
    margin: auto;
    width: 50%;
    padding: 3px;
    text-align: center;
}

.inpBox{
    width: 15%;
}

#userdiv {
    position: relative;
    left: 0em;
}

#passdiv {
    position: relative;
    left: 0.1em;
}

#passdiv2{
    position: relative;
    left: -1.3em;
}